.button{
    background: var(--main-color);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;

    &:hover{
        outline: 2px var(--dark-main-color) solid;
        cursor: pointer;
    }
}