.template{
    display: flex;
    height: 100%;
    width: 100%;
    min-height: 100vh;
}

.search{
    background-color: var(--dark-bg-color);
    padding: 25px 0;
    min-width: 280px;
}

.content{
    width: 100%;
    padding: 25px;
}

.loader{
    display: flex;
    justify-content: center;
}

.navigation li a{
    padding: 10px 30px;
}