.container{
    background-color: #f6f6f6;

    border-radius: 10px 10px 0 0;

    padding: 25px 15px;

    box-shadow: rgba(22, 0, 82, 0.4) 0 0 10px;
}

.input{
    width: calc(100% - 16px);
}

.btn_cont{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.search_and_filters{
    margin-top: 20px;
}