.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rating{
    font-size: 34px;
    font-weight: 600;
    margin: 0;
}

.rating span{
    color: #8841ff;
}

.votes{
    margin: 0;
    color: #6c6c6c;
}

.description p{
    font-size: 18px;
    margin: 0;
}